@import './assets/css/layout/header.scss';
@import './assets/css/variables/color.scss';
@import './assets/css/variables/fonts.scss';
//import: always link to scss files: makes the variables accessible from this file

* {
    padding: 0;
    margin: 0;
}

/* every element has by default a margin and padding, we turn it off here.*/

.opacity-bg {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

.hero-bg {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/img/Toast-eggs.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
}

.discover {
    width: 920px; /* is better than width, for responsive reasons, it doesn't scale up on big screens*/
    height: 600px; /* you have to put a width on your div to center with margin auto*/
    display: flex;
    position: relative; /*for the items below the div*/
    /* align items vertical centering, justify content horizontal centering*/
    margin: 0 auto;
    align-items: center;
}

.menu-container {
    position: absolute;
    top: 0;
}

.text-content {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* vertically it distributes the elements evenly */
    margin-left: 30px;
}

.line {
    width: 24px;
    height: 3px;
    background-color: gold;
}

.section-title {
    font-family: 'Pinyon Script';
    color: gold;
    font-size: 40px;
}

.section-subtitle {
    font-family: 'Source Sans Pro';
    font-size: 30px;
    color: #030303;
}

p {
    font-size: 16px;
}

.frame {
    height: 425px;
    width: 350px;
    border: 1px solid $gold;
    position: absolute;
    top: 48px;
    left: -52px;
    z-index:-1; /* creates a layer below the other image*/

}